<!-- Footer -->
<div class="text-center text-lg-start text-white" style="background-color: #353535;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <section class="p-3 pt-0">
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

                    <div class="shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                        style="width: 150px; height: 150px;">
                        <img src="../images/logo2.png" height="70" alt="logo2" loading="lazy" />
                    </div>
                </div>

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p><i class="mr-3"></i> The University of Auckland, 34 Princes Street, Auckland CBD,
                        Auckland 1010</p>
                    <p><i class="mr-3"></i> g.weber@auckland.ac.nz</p>
                    <p><i class="mr-3"></i> +64 9 373 7513</p>
                </div>

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                        Learn More
                    </h6>
                    <p>
                        <a class="text-white text-decoration-none">How It Works</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Who We Are</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Careers</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">FAQs</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <p>
                        <a class="text-white text-decoration-none">Accessibility</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Privacy Policy</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Terms of use</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Data Protection</a>
                    </p>
                    <p>
                        <a class="text-white text-decoration-none">Sitemap</a>
                    </p>
                </div>

            </div>
        </section>

        <hr class="my-3">

        <!-- Copyright -->
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                    <div class="p-3">
                        All rights reserved<br>&copy; Cloud Engine 2023
                    </div>
                </div>

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">

                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-google"></i></a>

                    <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                            class="fab fa-instagram"></i></a>
                </div>

            </div>
        </section>
    </div>
</div>