<style>
    .sidebar {
        background-image: linear-gradient(to bottom, #d68010, #b96d0bea, #c0720dd7, #bc700cba);
    }

    .sidebar .nav-item .nav-link:hover svg {
        animation: rotateAnimation 0.77s ease;
        transition: transform 0.77s ease;
        color: white !important;
    }

    .sidebar .nav-item .nav-link:hover i {
        animation: rotateAnimation 0.77s ease;
        transition: transform 0.77s ease;
        color: white !important;
    }

    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(20deg);
        }

        100% {
            transform: rotate(-20deg);
        }
    }

    #navsidebar {
        position: absolute;
        right: 25px;
    }

    #navsidebar:hover {
        transform: translateX(-10px);
        transition: transform 1s ease;
    }
</style>


<!-- Side Nav Bar Toggle -->
<!-- 
This code block represents a navigation bar for the guest dashboard side menu. It contains a button that toggles the collapse of the sidebar menu.
-->
<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- Side Nav Bar -->
<!-- This file contains the HTML code for the side navigation bar of the guest dashboard page. It includes links to the dashboard, instances, history, and settings pages, 
    as well as the user's profile information and a logout button. -->
<nav id="sidebarMenu" class="sidebar d-lg-block text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        <div
            class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                    <img src="../myDashboard/assets/img/team/profile-picture-3.jpg"
                        class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                    <h2 class="h5 mb-3" id="sidebar-user-name">Guest</h2>
                    <a href="/"
                        class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                            </path>
                        </svg>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        
        <!-- This HTML code block represents the side navigation bar for the guest dashboard page. It contains links to the dashboard, instances, history, and settings pages, as well as a logo and a separator. -->
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item" style="padding-bottom: 5%; padding-top: 5%;">
                <a href="/" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon">
                        <img src="../images/logo2.png" height="50" width="180" alt="Cloud Engine Logo">
                    </span>
                </a>
            </li>

            <li class="nav-item" style="padding-bottom: 5%;">
                <a id="dashboard-link" href="/guestInstance" class="nav-link" id="retrieveDashboard">
                    <span>
                        <span class="sidebar-icon">
                            <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12 1.586l-4 4v12.828l4-4V1.586zM3.707 3.293A1 1 0 002 4v10a1 1 0 00.293.707L6 18.414V5.586L3.707 3.293zM17.707 5.293L14 1.586v12.828l2.293 2.293A1 1 0 0018 16V6a1 1 0 00-.293-.707z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span class="sidebar-text">Instances</span>
                    </span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom: 5%;">
                <a id="dashboard-link" href="/guestHistory" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"></path>
                            <path fill-rule="evenodd"
                                d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">History</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom: 5%;">
                <a id="dashboard-link" href="/guestwishlist" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    <span class="sidebar-text"> &nbsp; My Wishlist</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom: 5%;">
                <a id="dashboard-link" href="/guestSettings" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">My Profile</span>
                </a>
            </li>
            <li class="nav-item" style="padding-bottom: 5%;">
                <a id="dashboard-link" href="/guestcontactTeam" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="fa fa-handshake" aria-hidden="true"></i>
                    </span>
                    <span class="sidebar-text">&nbsp; Support Center</span>
                </a>
            </li>

            <li role="separator" class="dropdown-divider mt-4 mb-3 border-white"></li>
        </ul>
    </div>

    <div id="navsidebar">
        <a href="#">
            <i class="fa fa-bars toggle-btn2" style="font-size: 30px;"></i>
        </a>
    </div>

</nav>