/* Global styles */
body,
html {
  -ms-overflow-style: none;
  height: 100%;
  margin: 0;
}
h3 {
  font-size: 38px !important;
}

::-webkit-scrollbar {
  display: none;
}.logoImg {
  width: auto;
  height: 55px;
  margin: 0 auto;
}.orange-button {
  background-color: #F79901 !important;
  font-weight: 700;
  color: #333;
}.orange-button:hover {
  background-color: #ff9d00cf !important;
}

/* ??? */
.random-scroll-effect {
  animation: disappear 1s ease-out forwards;
} .random-scroll-effect-else {
  animation: slide 1s ease-out forwards;
}

/* Service Page styles */
.serv-cell {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  min-height: 500px;
}.serv-solution-cell {
  background-image: url('../service/images/solutions_bg.jpg');
}.serv-quotes-cell {
  background-image: url('../service/images/quotes_bg.jpg');
}.serv-recomm-cell {
  background-image: url('../service/images/recommendation_bg.jpg');
  background-position: 60% 0%;
}


/* Solution Page styles */
.sol-submitButton {
  background-color: #F79901 !important;
  border: none !important;
  border-radius: 8px;
  height: 45px;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
}.sol-submitButton:hover {
  background-color: #ff9d00cf !important;
}.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(207, 175, 120, 0.35);
  border: 1px solid rgba(86, 61, 124, 0.2);
  height: 20vh;
}.serviceTitle {
  font-weight: 500;
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}.serviceDescription{
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Authentication Page styles */
.auth-banner {
  background-image: url('../auth/images/banner.png');
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  min-height: 100vh;
  background-position: center;
  display: block;
}.login-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 100px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}.login-container h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}.divider-container {
  display: flex;
  align-items: center;
}.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}.divider-text {
  padding: 0 10px;
  color: #777;
  font-weight: bold;
}.auth-sso-btn {
  border: solid 1px #000000;
}.auth-sso-btn:hover {
  background-color: #ff9d002c !important;
}.image-container {
  position: relative;
  width: fit-content;
}.image {
  width: auto;
  height: 250px;
}.text-on-image {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #6469B2;
  padding: 10px;
  width: max-content;
}.auth-subheading {
  color: #303468;
  font-size: 16px;
  font-weight: 600;
}.auth-warning-icon {
  height: 30px;
  width: 30px;
  /* margin-left: 20px; */
}.auth-warning-text {
  color: #303468;
  text-align: left;
  font-size: 12pt;
}


/* Dashboard test */
.dashboard-sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  min-height: 100vh; 
  height: auto;
}.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}.dashboard-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}.dashboard-sidebar .nav-link {
  font-weight: 500;
  color: #333;
}.dashboard-sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}.dashboard-sidebar .nav-link.active {
  color: #2470dc;
}.dashboard-sidebar .nav-link:hover .feather,
.dashboard-sidebar .nav-link.active .feather {
  color: inherit;
}.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}.container-fluid {
  margin-bottom: 10vh;
}.title {
  color: rgba(47, 47, 182, 0.9) !important;
  font-weight: 600 !important;
  padding-top: 1.5vh;
}.Untitled {
  padding-top: 50px;
  padding-bottom: 96px;
}


/* Profile test
*/
.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}.profile-button {
  background: rgb(180, 89, 29);
  box-shadow: none;
  border: none
}.profile-button:hover {
  background: rgb(180, 89, 29, 0.85) !important;
}.labels {
  font-size: 12px;
  padding-top: 1rem;
}.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}.bio {
  padding-top: 35px;
}.description {
  padding-top: 2rem;
}textarea[type="bio"] {
  height: 31.5rem;
  resize: none;
}.selectCountry {
  margin-top: 5% !important;
  width: 100%;
}


/* Purchase History Test
*/
.rainbowbox {
  width: 100%;
  height: 3vh;
  background: linear-gradient(to right, #ff00009e, #ff9900a4, #3377ffba);
}.historySearch {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100%;
}.smallTitle {
  font-size: 20px;
  color: rgba(18, 18, 174, 0.805);
  font-weight: 600;
}.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* Instances Test
*/
button[type="switch"] {
  background-color: rgba(237, 237, 237, 0.2);
  font-weight: 500;
  color: rgb(119, 119, 119);
}button[type="switch"]:hover {
  background-color: rgba(148, 148, 148, 0.65);
  color: rgb(255, 255, 255);
}.switchActive{
  background-color: rgb(255, 157, 0) !important;
  color: white !important;
}.InstanceCard {
  background-image: linear-gradient(to bottom, #ff8c0014, #2471dc16);
  transition: transform 0.2s, background-image 0.2s;
  border-radius: 20px;
  border: none !important;
}.InstanceCard:hover {
  background-image: linear-gradient(to bottom, rgba(255, 140, 0, 0.204), #2471dc3c); 
  transform: translateY(-2px);
}


/* selection page styles */
.image-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(2, 2, 2);
}
.image-container2 {
  position: relative;
  width: 100%;

}
.carousel-caption h1 {
  font-weight: 300;
  font-size: auto;
  color: #000000;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #000000;
}
.carousel-caption a {
  color: white;
}
.main-text {
  position: absolute;
  top: -200%;
  left: 400px;
  font-size: 2em;
  width: 600px;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#000000;
  animation: slide 1s ease-out forwards;

}

@media (max-width: 1000px) {
  .main-text {
    font-size: 2em;
    width: 300px;
  }
}
@media (max-width: 700px) {
  .main-text {
    font-size: 1.5em;
    width: 200px;
  }
}
@keyframes slide {
  from {
    left:-100%;
    opacity: 0;
  }
  to {
    left:0%;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left:0%;
    opacity: 1;
  }
  to {
    left:-100%;
    opacity: 0;
  }
}
.subtitle {
  font-size: 3em;
  color: #000000;
  /* margin-left: 30% !important; */
  text-align: center !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media (max-width: 1000px) {
  .subtitle {
    font-size: 2em;
    width: 300px;
  }
}
@media (max-width: 700px) {
  .subtitle {
    font-size: 1.5em;
    width: 200px;
  }
}
.midle_text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
}
.midle_button {
  background-color: #F79901 !important;
  border:none !important;
  border-radius: 8px;
  height: 45px;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  margin-left: 20% !important;
}
.mybutton {
  background-color: #F79901 !important;

}


/* Results page */
.main {
  background-image: url("../results/images/nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Additional CSS properties for positioning and styling can be added here */
}

/* Add additional CSS styles for your content here */
.content {
  padding: 10% 10%;
}.orangebtn {
  background-color: rgba(194, 194, 194, 0.1);
  border-color: rgba(75, 75, 75, 0.35);
  border-radius: 20px;
  color: #383838;
  font-size: 16px;
}.orangebtn:hover {
  background-color: rgb(238, 155, 0, 0.85);
  border-color: rgba(75, 75, 75, 0.35);
}.orangebtn:active,
.orangebtn:focus {
  background-color: rgb(219, 143, 2) !important;
  outline: none; 
  border-color: rgba(75, 75, 75, 0.35) !important;
}.blue {
  background-color: #1758d935;
}.card-body {
  padding-bottom: 2vh;
}.list-unstyled {
  padding-bottom: 2vh;
}.col {
  padding: 0 2%;
}


/* Responsive */
@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }.bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


@media(max-width: 992px) {
  .auth-banner {
    height: auto;
    min-height: 200px;
  }.sidebar {
    top: 5rem;
  }
}

/* home page styles */
.fixed-searchBar{
  position: absolute; /* Fixed positioning */
  top: 75%; /* Distance from the top of the viewport */
  left: 50%; /* Centering the search bar */
  transform: translateX(-50%); 
  z-index: 1000;

  width: 40%;
}

.searchBar-input{
  opacity: 70%;
}
.home-main-text {
  position: absolute;
  top: 20%;
  left: 15% !important;
  font-size: 3em;
  width: 600px;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* color:#ffffff; */
  animation: slide 1s ease-out forwards;

}
.carousel-item {
  position: relative; /* This is needed to contain the absolute positioned child */
}

.gradient-section {
  position: absolute; /* Position it absolutely to cover the parent */
  top:0;
  left:0;
  
  background: linear-gradient(to right, #F79901, rgba(255,0,0,0)); /* Red gradient */
  
  width:50%;  
  height:100%; 
}



