{% extends 'template/index_blank.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row  align-items-center justify-content-center">
        <div class="col-lg-5 auth-banner ">
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-10 login-container mt-2">

                    <div class="d-grid gap-3 d-flex justify-content-end">
                        <a class="btn" href="../">
                            <img src="../auth/images/icon-x.svg" style="width:30px; height:30px;" alt="X">
                        </a>
                    </div>

                    <div class="d-grid gap-3 d-flex justify-content-center">
                        <div class="image-container">
                            <img src="../auth/images/text-bg.png" alt="Image" class="image mx-auto">
                            <div class="text-on-image">
                                <h2>SIGN UP</h2>
                            </div>
                        </div>
                    </div>


                    <!-- Welcome message -->
                    <div class="d-grid gap-3 d-flex justify-content-center auth-sub-normal my-5">
                        <p class="auth-subheading" id="signup-msg">Initialising...</p>
                    </div>

                    <!-- Error Popup -->
                    <div class="d-grid d-flex justify-content-center auth-sub-warning" id="signup-err-popup">
                        <div
                            class="d-grid gap-3 d-flex justify-content-center auth-sub-warning bg-danger-subtle m-3 p-3 rounded-4">
                            <!-- <div class="d-grid d-flex justify-content-center"> -->
                            <img src="../auth/images/icon-minus.png" alt="ERROR" class="my-auto auth-warning-icon">
                            <!-- </div> -->
                            <p class="auth-warning-text my-auto" id="signup-err-msg">Initialising...</p>
                        </div>
                    </div>

                    <!-- Sign up first step (name, email) Form -->
                    <div class="signup-otp-form" id="signup-otpView">
                        <form id="signup-otpForm">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="signup-otp-firstname"
                                    placeholder="First Name" name="firstName">
                                <label for="signup-otp-firstname">First Name</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="signup-otp-lastname" placeholder="Last Name"
                                    name="lastName">
                                <label for="signup-otp-lastname">Last Name</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="email" class="form-control" id="signup-otp-email"
                                    placeholder="username@example.com" name="email">
                                <label for="signup-otp-email">Email</label>
                            </div>

                            <div class="d-grid py-4">
                                <button class="btn btn-warning orange-button" type="submit">Next</button>
                            </div>


                            <div class="divider-container py-4">
                                <div class="divider-line"></div>
                                <div class="divider-text">OR</div>
                                <div class="divider-line"></div>
                            </div>

                            <div class="d-grid gap-3 d-flex justify-content-center">
                                <a class="btn btn-outline-primary auth-sso-btn" type="button"><img
                                        src="../auth/images/icon-google.png" style="width:30px; height:30px;"
                                        alt="Google"></a>
                                <a class="btn btn-outline-primary auth-sso-btn" type="button"><img
                                        src="../auth/images/icon-apple.png" style="width:30px; height:30px;"
                                        alt="Apple"></a>
                            </div>


                            <div class="d-grid gap-3 d-flex justify-content-center pt-5">
                                <p>OR Login using</p>
                                <a href="#"> Log In</a>
                            </div>

                        </form>
                    </div>

                    <!-- Email Verification Code Form -->
                    <div class="emailVerif-form" id="signup-evView">
                        <form id="signup-evForm">
                            <div class="form-floating my-5">
                                <input type="text" class="form-control" id="signup-otp-code" placeholder="XXXXXX"
                                    name="otp">
                                <label for="signup-otp-code">Verification Code</label>
                            </div>

                            <div class="d-grid py-4">
                                <button class="btn btn-warning orange-button" type="submit">Next</button>
                            </div>
                        </form>
                    </div>

                    <!-- Signup Information Entry Form -->
                    <div class="signup-form" id="signup-mainView">
                        <form id="signup-mainForm">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="signup-id" placeholder="username">
                                <label for="signup-id">ID</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="signup-password" placeholder="Password"
                                    name="password">
                                <label for="signup-password">Password</label>
                                <span id="passwordHelpInline" class="form-text">
                                    Must be 8-20 characters long.
                                </span>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="signup-confirmpassword"
                                    placeholder="Password" name="confirmPassword">
                                <label for="signup-confirmpassword">Re-enter Password</label>
                            </div>

                            <div class="d-grid py-4">
                                <button class="btn btn-warning orange-button" type="submit">Sign Up</button>
                            </div>


                            <div class="divider-container py-4">
                                <div class="divider-line"></div>
                                <div class="divider-text">OR</div>
                                <div class="divider-line"></div>
                            </div>

                            <div class="d-grid gap-3 d-flex justify-content-center">
                                <a class="btn btn-outline-primary auth-sso-btn" type="button"><img
                                        src="../auth/images/icon-google.png" style="width:30px; height:30px;"
                                        alt="Google"></a>
                                <a class="btn btn-outline-primary auth-sso-btn" type="button"><img
                                        src="../auth/images/icon-apple.png" style="width:30px; height:30px;"
                                        alt="Apple"></a>
                            </div>


                            <div class="d-grid gap-3 d-flex justify-content-center pt-5">
                                <p>OR Login using</p>
                                <a href="#"> Log In</a>
                            </div>

                        </form>
                    </div>


                    <!-- Message Button -->
                    <div class="message-btn" id="signup-msgBtnView">
                        <div class="d-grid py-4 my-5">
                            <a href="../auth/login" class="btn btn-warning orange-button">Complete</a>
                        </div>
                    </div>






                </div>
            </div>

        </div>
    </div>
</div>

<script src="../auth/scripts/signup.js" defer="true"></script>

{% endblock %}